.armada_Admin{
    border: 2px solid red;
    display: inline-block;
    width: 100%;
    position: relative;
}
.table_armada{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    position: absolute;
    /* margin: 3rem 24rem; */
}